#formBox{
    padding-left: 20px;
    padding-top: 20px;
}

#formulario{
    margin-top: 20px;
}

svg{
    width: 75%;
}

button{
    float: right;
}

.options{
    margin-top: 50px;
}

.options p{
    text-align: center;
    font-size: medium;
}
